---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<BaseLayout title={`글 목록 - ${SITE_TITLE}`} description={SITE_DESCRIPTION} activeNav="blog">
	<h1>글 목록</h1>
</BaseLayout>
